bin/setuart2
htpasswd
app/cache/
data/
*.swp
service/log/main
service/**/service
vendor/
node_modules
dist
.tmp
.sass-cache
bower_components
web/404.html
web/bower_components
web/favicon.ico
web/images
web/index.html
web/robots.txt
web/scripts
web/styles
web/views
